<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982910575899-qvj4jcdb9v44obar8cg2q82ok3q9btah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982910575899-qvj4jcdb9v44obar8cg2q82ok3q9btah</string>
	<key>API_KEY</key>
	<string>AIzaSyBQoTNjzx6hivxwSSH1q766aHA8qNKrAAM</string>
	<key>GCM_SENDER_ID</key>
	<string>982910575899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jawheriheb.ProjetIos</string>
	<key>PROJECT_ID</key>
	<string>iosproject-b2ee3</string>
	<key>STORAGE_BUCKET</key>
	<string>iosproject-b2ee3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982910575899:ios:228f4d04f622325782dfbe</string>
	<key>DATABASE_URL</key>
	<string>https://iosproject-b2ee3.firebaseio.com</string>
</dict>
</plist>